export(dtsrprioroba)
export(dtsrposoba)
export(dnsrprioroba)
export(dnsrposoba)
export(intmT)
export(intmnorm)
export(nsroba)
export(tsroba)
export(tsrobapred)
export(nsrobapred)
importFrom(stats,runif,dunif,dlnorm, rlnorm,rgamma,dgamma,rexp,dexp,rf,df,median,dist,model.matrix,uniroot)
importFrom(modeest,mlv)
importFrom(cubature,hcubature)
importFrom(HDInterval,hdi)
importFrom(truncdist,rtrunc,dtrunc)
importFrom(mvtnorm,rmvnorm)
importFrom(invgamma,rinvgamma,dinvgamma)
importFrom(LaplacesDemon,rinvchisq,dinvchisq,dmvt,rmvt,dmvn,rmvn)

S3method(summary, nsroba)
S3method(summary, tsroba)
#importFrom(base,lower.tri,class)
